{% extends 'teachers/includes/_layout.html' %}
{% load static %}
{% block title %}گزارش نهایی{% endblock %}
{% block content %}
<!-- بخش اصلی صفحه -->
<section class="main active-side">
    <table class="table table-primary table-striped list-final-report">
        <!-- منو -->
        <tr>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th> گزارش نهایی</th>
        </tr>
        <!-- بدنه و ایتم ها -->
        {% for report in final_reports %}
        <tr>
            <td>{{ report.student.firstname }}</td>
            <td>{{ report.student.lastname }}</td>
            <td>
                <a href="/teachers/final-reports-list/{{ report.id }}"> نمایش </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}