{% extends 'teachers/includes/_layout.html' %}
{% load static %}
{% block title %}گزارشات و تکالیف{% endblock %}
{% block content %}
<!-- بخش اصلی صفحه -->
<section class="main active-side">
    <!-- جدول لیست گزارش ها -->
    <div class="container reports">
        <table class="table table-primary table-striped list-reports mx-1">
            <!-- منو -->
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th> گزارش 1</th>
                <th> گزارش 2</th>
                <th> گزارش 3</th>
                <th> گزارش 4</th>
                <th> گزارش 5</th>
                <th> گزارش 6</th>
                <th> گزارش 7</th>
                <th> گزارش 8</th>
            </tr>
            <!-- بدنه و ایتم ها -->
            <tr>
                <td>فاطمه</td>
                <td>عطایی</td>
                <td>
                    <a href="./Reports.html"> نمایش </a>
                </td>
                <td>
                    <a href="./Reports.html"> نمایش </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
            </tr>
            <tr>
                <td>حنانه</td>
                <td>بخشی</td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="./Reports.html"> نمایش </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
            </tr>
            <tr>
                <td>زهرا</td>
                <td>شکری</td>
                <td>
                    <a href="./Reports.html"> نمایش </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="./Reports.html"> نمایش </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
            </tr>
        </table>
    </div>

    <!-- فرم باز و بسته کردن تکالیف -->
    <form class="form">
        <p class="small">فعال کردن و غیر فعال کردن گرازش های دانشجو.</p>
        <div class="row">
            <!-- گزارش های 1 تا 4 -->
            <div class="col-md">
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="goz1" checked>
                    <label class="form-check-label" for="goz1"> گزارش 1 </label>
                </div>
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="goz2" checked>
                    <label class="form-check-label" for="goz2"> گزارش 2 </label>
                </div>
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="goz3" checked>
                    <label class="form-check-label" for="goz3"> گزارش 3 </label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="goz4" checked>
                    <label class="form-check-label" for="goz4"> گزارش 4 </label>
                </div>
            </div>
            <!-- گزارش های 5 تا 8 -->
            <div class="col-md">
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="goz5" checked>
                    <label class="form-check-label" for="goz5"> گزارش 5 </label>
                </div>
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="goz6" checked>
                    <label class="form-check-label" for="goz6"> گزارش 6 </label>
                </div>
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="goz7" checked>
                    <label class="form-check-label" for="goz7"> گزارش 7 </label>
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" id="goz8" checked>
                    <label class="form-check-label" for="goz8"> گزارش 8 </label>
                </div>
            </div>
        </div>

        <!-- دکمه ثبت -->
        <button type="submit" class="btn btn-blue w-50 py-2 mb-1">ثبت</button>
    </form>
</section>
{% endblock %}