{% extends 'teachers/includes/_layout.html' %}
{% load static %}
{% block title %}لیست پیشنهادات{% endblock %}
{% block content %}
<!-- بخش اصلی صفحه -->
<section class="main active-side">
    <div class="container Suggestions">
        <table class="table table-primary table-striped list-Suggestions mx-1 text-center">
            <!-- منو -->
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>پروژه</th>
                <th>پلتفرم</th>
                <th>تعداد اعضا</th>
                <th>توضیحات</th>
                <th>عملیات</th>
            </tr>
            <!-- بدنه و ایتم ها -->
            {% for suggestion in suggestions %}
            <tr>
                <td>{{ suggestion.creator.first_name }}</td>
                <td>{{ suggestion.creator.last_name }}</td>
                <td>{{ suggestion.title }}</td>
                <td>{{ suggestion.get_type_display }}</td>
                <td>{{ suggestion.get_number_of_students_display }}</td>
                <td>{{ suggestion.description }}</td>
                <td>
                    <a class="btn btn-primary" href="/teachers/suggestions-list/confirm/{{ suggestion.id }}">
                        <i class="bi bi-check px-1"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}