{% extends 'teachers/includes/_layout.html' %}
{% load static %}
{% block title %}لیست پیشنهادات{% endblock %}
{% block content %}
<!-- بخش اصلی صفحه -->
<section class="main active-side">
    <div class="container Suggestions">
        <table class="table table-primary table-striped list-Suggestions mx-1 text-center">
            <!-- منو -->
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>پروژه</th>
                <th>پلتفرم</th>
                <th>تعداد اعضا</th>
                <th>توضیحات</th>
                <th>عملیات</th>
            </tr>
            <!-- بدنه و ایتم ها -->
            <tr>
                <td>فاطمه</td>
                <td>عطایی</td>
                <td>سیستم مدیریت هواشناسی</td>
                <td>تخت وب</td>
                <td>1</td>
                <td>ندارد</td>
                <td>
                    <button class="btn btn-primary"><i class="bi bi-check px-1"></i></button>
                </td>
            </tr>
            <tr>
                <td>حنانه</td>
                <td>بخشی</td>
                <td>سیستم مدیریت حضور و غیاب</td>
                <td>موبایل</td>
                <td>1</td>
                <td>ندارد</td>
                <td>
                    <button class="btn btn-primary"><i class="bi bi-check px-1"></i></button>
                </td>
            </tr>
            <tr>
                <td>زهرا</td>
                <td>شکری</td>
                <td>سیستم تشخیص پلاک</td>
                <td>تخت وب, دسکتاپ،</td>
                <td>2</td>
                <td>ندارد</td>
                <td>
                    <button class="btn btn-primary"><i class="bi bi-check px-1"></i></button>
                </td>
            </tr>
        </table>
    </div>
</section>
{% endblock %}