{% extends 'teachers/includes/_layout.html' %}
{% load static %}
{% block title %}گزارشات و تکالیف{% endblock %}
{% block content %}
<!-- بخش اصلی صفحه -->
<section class="main active-side">
    <!-- جدول لیست گزارش ها -->
    <div class="container reports">
        <table class="table table-primary table-striped list-reports mx-1">
            <!-- منو -->
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>شماره گزارش</th>
                <th>فایل</th>
                <th>نمره</th>
                <th>نمایش</th>
            </tr>
            <!-- بدنه و ایتم ها -->
            {% for report in reports %}
            <tr>
                <td>{{ report.student.firstname }}</td>
                <td>{{ report.student.lastname }}</td>
                <td>{{ report.number }}</td>
                <td>
                    {% if report.file %}
                    <a href="{{ report.file.url }}">دانلود</a>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                </td>
                <td>
                    {% if report.mark %}
                    <span>{{ report.mark }}</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                </td>
                <td>
                    <a href="/teachers/reports_list/{{ report.id }}"> نمایش </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- فرم باز و بسته کردن تکالیف -->
    <form class="form" method="post">
        {% csrf_token %}
        <p class="small">فعال کردن و غیر فعال کردن گرازش های دانشجو.</p>
        <div class="row">
            <div class="col-md">
                {% for part_active in report_parts %}
                <div class="form-check form-switch mb-2">
                    <input name="report_number" class="form-check-input" type="checkbox" id="goz{{ part_active.number }}" value="{{ part_active.id }}" {% if part_active.is_active %} checked {% endif %}>
                    <label class="form-check-label" for="goz1"> گزارش {{ part_active.number }} </label>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- دکمه ثبت -->
        <button type="submit" class="btn btn-blue w-50 py-2 mb-1">ثبت</button>
    </form>
</section>
{% endblock %}