{% extends 'teachers/includes/_layout.html' %}
{% load static %}
{% block title %}گزارشات و تکالیف{% endblock %}
{% block content %}
<!-- بخش اصلی صفحه -->
<section class="main active-side">
    <!-- جدول لیست گزارش ها -->
    <div class="container reports">
        <table class="table table-primary table-striped list-reports mx-1">
            <!-- منو -->
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>شماره گزارش</th>
                <th>فایل</th>
                <th>نمره</th>
                <th>نمایش</th>
            </tr>
            <!-- بدنه و ایتم ها -->
            {% for report in reports %}
            <tr>
                <td>{{ report.student.firstname }}</td>
                <td>{{ report.student.lastname }}</td>
                <td>{{ report.number }}</td>
                <td>
                    {% if report.file %}
                    <a href="{{ report.file.url }}">دانلود</a>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                </td>
                <td>
                    {% if report.mark %}
                    <span>{{ report.mark }}</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                </td>
                <td>
                    <a href="/teachers/reports_list/{{ report.id }}"> نمایش </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- فرم باز و بسته کردن تکالیف -->
    <form class="form" method="post">
        {% csrf_token %}
        <p class="small">فعال کردن و غیر فعال کردن گرازش های دانشجو.</p>
        <div class="row">
            <!-- گزارش های 1 تا 4 -->
            <div class="col-md">
                <div class="form-check form-switch mb-2">
                    <input name="report1" class="form-check-input" type="checkbox" id="goz1" {% if activation.report1 %} checked {% endif %}>
                    <label class="form-check-label" for="goz1"> گزارش 1 </label>
                </div>
                <div class="form-check form-switch mb-2">
                    <input name="report2" class="form-check-input" type="checkbox" id="goz2" {% if activation.report2 %} checked {% endif %}>
                    <label class="form-check-label" for="goz2"> گزارش 2 </label>
                </div>
                <div class="form-check form-switch mb-2">
                    <input name="report3" class="form-check-input" type="checkbox" id="goz3" {% if activation.report3 %} checked {% endif %}>
                    <label class="form-check-label" for="goz3"> گزارش 3 </label>
                </div>
                <div class="form-check form-switch">
                    <input name="report4" class="form-check-input" type="checkbox" id="goz4" {% if activation.report4 %} checked {% endif %}>
                    <label class="form-check-label" for="goz4"> گزارش 4 </label>
                </div>
            </div>
            <!-- گزارش های 5 تا 8 -->
            <div class="col-md">
                <div class="form-check form-switch mb-2">
                    <input name="report5" class="form-check-input" type="checkbox" id="goz5" {% if activation.report5 %} checked {% endif %}>
                    <label class="form-check-label" for="goz5"> گزارش 5 </label>
                </div>
                <div class="form-check form-switch mb-2">
                    <input name="report6" class="form-check-input" type="checkbox" id="goz6" {% if activation.report6 %} checked {% endif %}>
                    <label class="form-check-label" for="goz6"> گزارش 6 </label>
                </div>
                <div class="form-check form-switch mb-2">
                    <input name="report7" class="form-check-input" type="checkbox" id="goz7" {% if activation.report7 %} checked {% endif %}>
                    <label class="form-check-label" for="goz7"> گزارش 7 </label>
                </div>
                <div class="form-check form-switch mb-3">
                    <input name="report8" class="form-check-input" type="checkbox" id="goz8" {% if activation.report8 %} checked {% endif %}>
                    <label class="form-check-label" for="goz8"> گزارش 8 </label>
                </div>
            </div>
        </div>

        <!-- دکمه ثبت -->
        <button type="submit" class="btn btn-blue w-50 py-2 mb-1">ثبت</button>
    </form>
</section>
{% endblock %}