{% extends 'teachers/includes/_layout.html' %}
{% load static %}
{% block title %}گزارشات{% endblock %}
{% block content %}
<!-- بخش اصلی پروژه -->
<section class="main active-side">
    <div class="form">
        <!-- اطلاعات -->
        <h5 class="mb-3">{{ report.student.firstname }} {{ report.student.lastname }}</h5>
        <p>
            <p class="small bg-primary text-light p-1 rounded d-inline">
                گزارش {{ report.number }}
            </p>
            <br><br>
            فایل ها
            <br>

        </p>
        <!-- فایل ها -->
        <div class="file-drop-area mb-3">
            {% if report.file %}
            <a href="{{ report.file.url }}">{{ report.file }}</a>
            {% else %}
            <span>فایلی موجود نیست</span>
            {% endif %}
        </div>
        <!-- توضیحات -->
        <div class="mb-3">
            <label for="PrpjectDiscripiton" class="form-label">توضیحات اختیاری</label>
            <textarea class="form-control" id="PrpjectDiscripiton" cols="5" rows="4" disabled>{{ report.description }}</textarea>
        </div>
        <!-- فرم ثبت نمره -->
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="PrpjectDiscripiton" class="form-label">نمره</label>
                <input name="mark" type="number" class="form-control w-25" placeholder="ندارد" min="0" max="20" value="{{ report.mark }}">
            </div>
            <button type="submit" class="btn btn-blue w-25 py-2">ثبت نمره</button>
        </form>
        </table>
    </div>
</section>
{% endblock %}