{% extends 'administration/includes/_layout.html' %}
{% load static %}
{% block title %}پروژه نهایی{% endblock %}
{% block content %}
<!-- بخش اصلی پروژه -->
<section class="main active-side">
    <div class="form">
        <!-- اطلاعات -->
        <h5 class="mb-3">نام و نام خوانوادگی</h5>
        <p>
            <p class="small bg-primary text-light p-1 rounded d-inline">
                گزارش نهایی
            </p>
            <br><br>
            فایل ها
        </p>
        <!-- فایل ها -->
        <div class="file-drop-area mb-3">
            <a href="#">نام و نام خوانوادگی</a>
        </div>
        <!-- توضیحات -->
        <div class="mb-3">
            <label for="PrpjectDiscripiton" class="form-label">توضیحات اختیاری</label>
            <textarea class="form-control" id="PrpjectDiscripiton" cols="5" rows="4" placeholder="ندارد" disabled></textarea>
        </div>
        <!--  نمره -->
        <div class="mb-3">
            <label for="PrpjectDiscripiton" class="form-label">نمره</label>
            <input type="number" class="form-control w-25" placeholder="ندارد" min="0" max="20" disabled>
        </div>


        <!-- توضیحات ارسالی -->
        <table class="descripiton-send w-100 mt-5">
            <tr>
                <td>وضعیت تحویل</td>
                <td>خالی</td>
            </tr>
            <tr>
                <td>نمره</td>
                <td>خالی</td>
            </tr>
            <tr>
                <td>زمان تحویل</td>
                <td>خالی</td>
            </tr>
            <tr>
                <td>فایل ارسالی</td>
                <td>خالی</td>
            </tr>
            <tr>
                <td>توضیحات</td>
                <td>خالی</td>
            </tr>
        </table>
    </div>
</section>
{% endblock %}