{% extends 'administration/includes/_layout.html' %}
{% load static %}
{% block title %}لیست نمره ها{% endblock %}
{% block content %}
<!-- بخش اصلی صفحه -->
<section class="main active-side">
    <table class="table table-primary table-striped list-students">
        <!-- منو -->
        <tr>
            <th>ردیف</th>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>نمره نهایی</th>
        </tr>
        <!-- بدنه و ایتم ها -->
        {% for report in reports %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <td>{{ report.student.firstname }}</td>
            <td>{{ report.student.lastname }}</td>
            <td>
                {% if report.mark %}{{ report.mark }}{% else %}-{% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}