{% extends 'administration/includes/_layout.html' %}
{% load static %}
{% block title %}گزارشات و تکالیف{% endblock %}
{% block content %}
<!-- بخش اصلی صفحه -->
<section class="main active-side">
    <div class="container reports">
        <table class="table table-primary table-striped list-reports mx-1">
            <!-- منو -->
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th> گزارش 1</th>
                <th> گزارش 2</th>
                <th> گزارش 3</th>
                <th> گزارش 4</th>
                <th> گزارش 5</th>
                <th> گزارش 6</th>
                <th> گزارش 7</th>
                <th> گزارش 8</th>
            </tr>
            <!-- بدنه و ایتم ها -->
            <tr>
                <td>فاطمه</td>
                <td>عطایی</td>
                <td>
                    <a href="./Reports.html"> نمایش </a>
                </td>
                <td>
                    <a href="./Reports.html"> نمایش </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
            </tr>
            <tr>
                <td>حنانه</td>
                <td>بخشی</td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="./Reports.html"> نمایش </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
            </tr>
            <tr>
                <td>زهرا</td>
                <td>شکری</td>
                <td>
                    <a href="./Reports.html"> نمایش </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="./Reports.html"> نمایش </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
                <td>
                    <a href="#"> ارسال نشده </a>
                </td>
            </tr>
        </table>
    </div>
</section>
{% endblock %}