{% extends 'students/includes/_layout.html' %}
{% load static %}
{% block title %}اخذ پروژه{% endblock %}
{% block content %}
<!-- بخش اصلی صفحه -->
<section class="main active-side">
    <form class="list-group list-group-checkable  gap-2 w-auto" method="post">
        {% csrf_token %}
        <!-- ایتم های انتخاب پروژه -->
        {% for project in projects %}
        <div>
            <input class="list-group-item-check" type="radio" name="projects" id="radios{{ project.id }}" value="{{ project.id }}" {% if project.number_of_students <= project.number_of_taken %} disabled {% endif %}>
            <label class="list-group-item rounded-3 py-3" for="radios{{ project.id }}">
                <span>{{ project.title }}</span>
                <div class="small opacity-50 d-flex justify-content-between">
                    <span>{{ project.get_type_display }}</span>
                    <span> <strong>{{ project.get_number_of_students_display }}</strong> نفره </span>
                </div>
            </label>
        </div>
        {% endfor %}
        <button class="btn btn-blue py-2">ثبت</button>
    </form>
</section>
{% endblock %}