{% extends 'students/includes/_layout.html' %}
{% load static %}
{% block title %}پیشنهاد پروژه{% endblock %}
{% block content %}
<!-- بخش اصلی -->
<section class="main active-side">
    <form class="form" method="post">
        {% csrf_token %}
        <!-- عنوان پروژه -->
        <div class="mb-3">
            <label for="PrpjectName" class="form-label">عنوان پروژه</label>
            <input name="title" type="text" class="form-control" id="PrpjectName">
        </div>
        <!-- انتخاب پلتفرم و تعداد نفرات گروه -->
        <div class="d-flex flex-column flex-md-row justify-content-center mb-3">
            <!-- پلتفرم -->
            <div class="list-group m-1 w-auto">
                <!-- web -->
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input" type="radio" name="type" value="web" checked>
                    <span>
                        تحت وب
                        <span class="d-block text-muted small">سایت ها و وبسایت هایی که از طریق اینترنت قایل دسترسی
                            هستند</span>
                    </span>
                </label>
                <!-- desktop -->
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input" type="radio" name="type" value="desktop">
                    <span>
                        دسکتاپ
                        <span class="d-block text-muted small">نرم افزار های ویندوزی برای لپ تاپ و کامپیوتر</span>
                    </span>
                </label>
                <!-- mobile -->
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input" type="radio" name="type" value="mobile">
                    <span>
                        موبایل
                        <span class="d-block text-muted small">اپیکیشن اندروید برای گوشی های موبایل</span>
                    </span>
                </label>
            </div>
            <!-- تعداد گروه -->
            <div class="list-group m-0 mt-1  w-auto">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input" type="radio" name="number_of_students" id="radios1" value="1" checked="">
                    <span>
                        1 نفر
                    </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input" type="radio" name="number_of_students" id="radios2" value="2">
                    <span>
                        2 نفر
                    </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input" type="radio" name="number_of_students" id="radios3" value="3">
                    <span>
                        3 نفر
                    </span>
                </label>
            </div>
        </div>
        <!-- توضیحات پروژه -->
        <div class="mb-3">
            <label for="PrpjectName" class="form-label">توضیحات پروژه</label>
            <textarea name="description" class="form-control" id="PrpjectInfo" cols="5" rows="4"></textarea>
        </div>
        <!-- دکمه ثبت -->
        <button type="submit" class="btn btn-blue w-100 py-2 mb-1">ثبت</button>
        <!-- دکمه پروژه های ایجاد شده -->
        <a href="#" class="btn btn-secondary w-100 py-2">پروژه ها</a>
    </form>
</section>
{% endblock %}