{% extends 'students/includes/_layout.html' %}
{% load static %}
{% block title %}گزارشات{% endblock %}
{% block content %}
<!-- بخش اصلی پروژه -->
<section class="main active-side">
    <div class="form">
        <!-- توضحات آپلود کردن -->
        <h5 class="mb-3">ارسال گزارش <span class="text-primary">اول</span> پروژه</h5>
        <p>
            <p class="small bg-primary text-light p-1 rounded d-inline">مهلت : <span> 30 شهریور 1401 ساعت 12:00
                </span></p>
            <br><br>
            فایل تکالیف یا گزارش پروژه خود را بارگزاری کنید و ذخیره کنید.
            <br>
            <ol>
                <li>فایل پروژه تا این گزارش با فرمت zip یا rar</li>
                <li>قالب گزارش (pdf)</li>
            </ol>
            <span class="small text-muted">
                درصورتی که فایل پروژه شما بیش از 10MB است، فایل های خود را در جایی بارگزاری کنید و لینک دانلود آن
                را در
                بخش توضیحات ارسال کنید.
            </span>
        </p>
        <!-- فرم آپلود فایل های نهایی پروژه -->
        <form>
            <!-- باکس آپلود -->
            <div class="file-drop-area mb-3">
                <span class="fake-btn">انتخاب فایل ها</span>
                <span class="file-msg">یا کشیدن و رها کردن</span>
                <input class="file-input" type="file" multiple>
            </div>
            <!-- توضیحات -->
            <div class="mb-3">
                <label for="PrpjectDiscripiton" class="form-label">توضیحات اختیاری</label>
                <textarea class="form-control" id="PrpjectDiscripiton" cols="5" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-blue w-25 py-2">ذخیره</button>
            <a href="./Report project.html" class="btn btn-secondary w-25 py-2">لغو</a>
        </form>
        <!-- توضیحات ارسالی -->
        <table class="descripiton-send w-100 mt-5">
            <tr>
                <td>وضعیت تحویل</td>
                <td>خالی</td>
            </tr>
            <tr>
                <td>نمره</td>
                <td>خالی</td>
            </tr>
            <tr>
                <td>زمان تحویل</td>
                <td>خالی</td>
            </tr>
            <tr>
                <td>فایل ارسالی</td>
                <td>خالی</td>
            </tr>
            <tr>
                <td>توضیحات</td>
                <td>خالی</td>
            </tr>
        </table>
    </div>
</section>
{% endblock %}