{% extends 'students/includes/_layout.html' %}
{% load static %}
{% block title %}گزارشات پروژه{% endblock %}
{% block content %}
<!-- بخش اصلی صفحه -->
<section class="main active-side">
    <!-- گزارش ها و تکالیف -->
    <div class="form">
        <h5 class="mb-3"> گزارش ها و تکالیف ترم درس پروژه </h5>
        <!-- ایتم ها -->
        <div class="mb-2">
            <button class="btn btn-toggle rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                گزارش اول
            </button>

            <div class="collapse" id="dashboard-collapse">
                <div class="card card-body">
                    <div>
                        <i class="bi bi-file-earmark-check-fill"></i>
                        <a href="./Reports.html">آپلود فایل گزارش اول</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-2">
            <button class="btn btn-toggle rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse1" aria-expanded="false">
                گزارش دوم
            </button>
            <div class="collapse" id="dashboard-collapse1">
                <div class="card card-body">
                    <div>
                        <i class="bi bi-file-earmark-check-fill"></i>
                        <a href="./Reports.html">آپلود فایل گزارش دوم</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-2">
            <button class="btn btn-toggle rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse2" aria-expanded="false">
                گزارش سوم
            </button>
            <div class="collapse" id="dashboard-collapse2">
                <div class="card card-body">
                    <div>
                        <i class="bi bi-file-earmark-check-fill"></i>
                        <a href="./Reports.html">آپلود فایل گزارش سوم</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-2">
            <button class="btn btn-toggle rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse3" aria-expanded="false">
                گزارش چهارم
            </button>
            <div class="collapse" id="dashboard-collapse3">
                <div class="card card-body">
                    <div>
                        <i class="bi bi-file-earmark-check-fill"></i>
                        <a href="./Reports.html">آپلود فایل گزارش چهارم</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-2">
            <button class="btn btn-toggle rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse4" aria-expanded="false">
                گزارش پنجم
            </button>
            <div class="collapse" id="dashboard-collapse4">
                <div class="card card-body">
                    <div>
                        <i class="bi bi-file-earmark-check-fill"></i>
                        <a href="./Reports.html">آپلود فایل گزارش پنجم</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-2">
            <button class="btn btn-toggle rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse5" aria-expanded="false">
                گزارش شیشم
            </button>
            <div class="collapse" id="dashboard-collapse5">
                <div class="card card-body">
                    <div>
                        <i class="bi bi-file-earmark-check-fill"></i>
                        <a href="./Reports.html">آپلود فایل گزارش شیشم</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-2">
            <button class="btn btn-toggle rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse6" aria-expanded="false">
                گزارش هفتم
            </button>
            <div class="collapse" id="dashboard-collapse6">
                <div class="card card-body">
                    <div>
                        <i class="bi bi-file-earmark-check-fill"></i>
                        <a href="./Reports.html">آپلود فایل گزارش هفتم</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-2">
            <button class="btn btn-toggle rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse7" aria-expanded="false">
                گزارش هشتم
            </button>
            <div class="collapse" id="dashboard-collapse7">
                <div class="card card-body">
                    <div>
                        <i class="bi bi-file-earmark-check-fill"></i>
                        <a href="./Reports.html">آپلود فایل گزارش هشتم</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}